body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #99979f; /* Background color */
}

.container {
    text-align: center;
    padding: 30px;
    background-color: #fefbfe; /* Background color for container */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(58, 52, 52, 0.1);
    width: 90%;
    max-width: 400px;
}

/* TODO: Add styles for labels, inputs, buttons, and output text */
h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: rgb(7, 6, 11); /* Header color */
}

/* Add more styles here as needed */
<<<<<<< HEAD
button {
    background-color: #c7638a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
=======
 
>>>>>>> c5db913ed4d86608cc7c22937bc3e6077c6d6a9b
